[submodule "rtl/VexRiscv"]
	path = rtl/VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv.git
[submodule "tools/whisper"]
	path = tools/whisper
	url = https://github.com/tenstorrent/whisper.git
[submodule "tools/riscv-dv"]
	path = tools/riscv-dv
	url = https://github.com/chipsalliance/riscv-dv.git
